[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "==3.8.3"
matplotlib = "==3.2.1"
numpy = "==1.19.4"
rich = "==10.12.0"
scikit-learn = "==1.0"
Flask = "==1.1.2"
WTForms = "==2.3.3"

[dev-packages]

[requires]
python_version = "3.7"
